body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.admin-layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  color: #38bdf8;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 8px 0;
}

.sidebar a:hover {
  background: #334155;
  border-radius: 5px;
}

.navbar {
  background: #f1f5f9;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.page-content {
  padding: 20px;
  background: #f8fafc;
  flex: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #e2e8f0;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.error {
  color: red;
}
